/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto' sans-serif;
}

.content{
    width: 100%;
    height: 180vh;
    padding-left: 8%;
    padding-right: 5%;
    box-sizing: border-box;  
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.navbar h1{
    margin-top: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(98, 166, 187);
    font-size: 30px;
}

.logo{
    width: 80px;
    cursor: pointer;
}

.menu-icon{
    width: 20px;
    cursor: pointer;
    margin-left: 50px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    size: 13px;
}
nav ul li a:hover{
    color: rgb(39, 99, 156);
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    margin-top: -20%;
    flex-basis: 50%;
}

h1{
    margin-top: -10%;
    color: #1a1a1a;
    font-family:'Times New Roman', Times, serif;
    font-size: 95px;
}

p{
    color: #0463ab;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 15px;
}

.btn{
    margin-left: 5%;
}
.log{
    width: 100px;
    height: 30px;
    color: #ffffff;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 0;
    background: #000000;
    border: 0;
    border-radius: 20px;
    outline: none;
    transition: 0.5s;
}
.up{
    width: 100px;
    height: 30px;
    color: #ffffff;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 0;
    background: #000000;
    border: 0;
    border-radius: 20px;
    outline: none;
    transition: 0.5s;
}
.log:hover{
    transform: translateY(10px);
}
.up:hover{
    transform: translateY(-10px);
}
.formreg h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.formreg{
    text-align: center;
    margin-top: 50px;
    width: 350px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 3);
    padding: 50px;
    margin: 8% auto 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 50px;
    background-image: linear-gradient(rgb(10, 122, 178), rgb(118, 99, 242));
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-170px);
    width:fit-content;

    

}

.formreg h1{
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputbox{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: transparent;
    border: 2px solid #ffffff;
    outline: none;
    transition: 0.5s;

}
.inputbox:hover{
    transform: translateY(-10px);
}

button{
    color: #ffffff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;   
}

a{
    text-decoration: none;
 
}
button:hover{
background-color: #b19ae6;
cursor: pointer;

}

hr{
    margin-top: 40px;
    width: 100px;
    
}
.or{
    background: #4b4b4b;
    width: 50px;
    margin: -10px auto 10px;
}

.txt{
    color: #fff;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;

}

#result1,#result2{
    color:rgb(152, 8, 8);
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
}





/* clerin*/
#category {
    /* Base styles for the select element */
    border: 5px solid #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 80px;
    background: transparent;
    font-size: large;
    border-radius: 10px;
    transition: all 0.2s ease-in-out; /* Transition properties */
    cursor: pointer; /* Optional: Style cursor to indicate interactivity */
  }
  
  #category:hover {
    /* Styles applied on hover */
    border-color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(rgb(40, 190, 223), rgb(80, 118, 234));
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  textarea {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: transparent;
    border: 2px solid #ffffff;
    outline: none;
    transition: 0.5s;
    resize: none; /* Disable resizing by the user */
    overflow-y: hidden; /* Hide scrollbar */
    
}

textarea#message::placeholder {
    color:rgb(3, 3, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  }
  
  textarea#message:hover{
    transform: translateY(-10px);
}

textarea#help::placeholder {
    color:rgb(3, 3, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  }

  textarea#help:hover{
    transform: translateY(-10px);
}

.submit{
    background-color: #021a41;

}

.exiting {
    background-color: #dbbf50;
    transform: translateX(-70px);
    
    
}

 
.exiting a
 {
    color: white; /* Font color set to white */
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 50px;
    margin: 10px 0;
    border: none;
    outline: none;

  }
  #svg{
    width: 40px;

  }
